In [25]:
import pandas as pd  # Import Pandas for data handling

In [26]:
# Step 1: Load the dataset
df = pd.read_csv(r"C:\Users\Dhruv Bansal\OneDrive\Documents\jupyter Notebook\New folder\city_day.csv")

In [27]:
df

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Ahmedabad,2015-01-01,NaN,NaN,0.92,18.22,17.15,NaN,0.92,27.64,133.36,0.00,0.02,0.00,NaN,NaN
1,Ahmedabad,2015-01-02,NaN,NaN,0.97,15.69,16.46,NaN,0.97,24.55,34.06,3.68,5.50,3.77,NaN,NaN
2,Ahmedabad,2015-01-03,NaN,NaN,17.40,19.30,29.70,NaN,17.40,29.07,30.70,6.80,16.40,2.25,NaN,NaN
3,Ahmedabad,2015-01-04,NaN,NaN,1.70,18.48,17.97,NaN,1.70,18.59,36.08,4.43,10.14,1.00,NaN,NaN
4,Ahmedabad,2015-01-05,NaN,NaN,22.10,21.42,37.76,NaN,22.10,39.33,39.31,7.01,18.89,2.78,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29526,Visakhapatnam,2020-06-27,15.02,50.94,7.68,25.06,19.54,12.47,0.47,8.55,23.30,2.24,12.07,0.73,41.0,Good
29527,Visakhapatnam,2020-06-28,24.38,74.09,3.42,26.06,16.53,11.99,0.52,12.72,30.14,0.74,2.21,0.38,70.0,Satisfactory
29528,Visakhapatnam,2020-06-29,22.91,65.73,3.45,29.53,18.33,10.71,0.48,8.42,30.96,0.01,0.01,0.00,68.0,Satisfactory
29529,Visakhapatnam,2020-06-30,16.64,49.97,4.05,29.26,18.80,10.03,0.52,9.84,28.30,0.00,0.00,0.00,54.0,Satisfactory
29530,Visakhapatnam,2020-07-01,15.00,66.00,0.40,26.85,14.05,5.20,0.59,2.10,17.05,NaN,NaN,NaN,50.0,Good

In [28]:
df.info()
# to check the null values and data type

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29531 entries, 0 to 29530
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        29531 non-null  object
 1   Date        29531 non-null  object
 2   PM2.5       24933 non-null  float64
 3   PM10        18391 non-null  float64
 4   NO          25949 non-null  float64
 5   NO2         25946 non-null  float64
 6   NOx         25346 non-null  float64
 7   NH3         19203 non-null  float64
 8   CO          27472 non-null  float64
 9   SO2         25677 non-null  float64
 10  O3          25509 non-null  float64
 11  Benzene     23908 non-null  float64
 12  Toluene     21490 non-null  float64
 13  Xylene      11422 non-null  float64
 14  AQI         24850 non-null  float64
 15  AQI_Bucket  24850 non-null  object
dtypes: float64(13), object(3)
memory usage: 3.6+ MB

In [29]:
# Convert 'Date' column to datetime format
df["Date"] = pd.to_datetime(df["Date"], errors="coerce")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29531 entries, 0 to 29530
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        29531 non-null  object
 1   Date        29531 non-null  datetime64[ns]
 2   PM2.5       24933 non-null  float64
 3   PM10        18391 non-null  float64
 4   NO          25949 non-null  float64
 5   NO2         25946 non-null  float64
 6   NOx         25346 non-null  float64
 7   NH3         19203 non-null  float64
 8   CO          27472 non-null  float64
 9   SO2         25677 non-null  float64
 10  O3          25509 non-null  float64
 11  Benzene     23908 non-null  float64
 12  Toluene     21490 non-null  float64
 13  Xylene      11422 non-null  float64
 14  AQI         24850 non-null  float64
 15  AQI_Bucket  24850 non-null  object
dtypes: datetime64[ns](1), float64(13), object(2)
memory usage: 3.6+ MB

In [30]:
# Now extract Year and Month
df["Year"] = df["Date"].dt.year
df["Month"] = df["Date"].dt.month
df.head(30)

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket,Year,Month
0,Ahmedabad,2015-01-01,NaN,NaN,0.92,18.22,17.15,NaN,0.92,27.64,133.36,0.00,0.02,0.00,NaN,NaN,2015,1
1,Ahmedabad,2015-01-02,NaN,NaN,0.97,15.69,16.46,NaN,0.97,24.55,34.06,3.68,5.50,3.77,NaN,NaN,2015,1
2,Ahmedabad,2015-01-03,NaN,NaN,17.40,19.30,29.70,NaN,17.40,29.07,30.70,6.80,16.40,2.25,NaN,NaN,2015,1
3,Ahmedabad,2015-01-04,NaN,NaN,1.70,18.48,17.97,NaN,1.70,18.59,36.08,4.43,10.14,1.00,NaN,NaN,2015,1
4,Ahmedabad,2015-01-05,NaN,NaN,22.10,21.42,37.76,NaN,22.10,39.33,39.31,7.01,18.89,2.78,NaN,NaN,2015,1
5,Ahmedabad,2015-01-06,NaN,NaN,45.41,38.48,81.50,NaN,45.41,45.76,46.51,5.42,10.83,1.93,NaN,NaN,2015,1
6,Ahmedabad,2015-01-07,NaN,NaN,112.16,40.62,130.77,NaN,112.16,32.28,33.47,0.00,0.00,0.00,NaN,NaN,2015,1
7,Ahmedabad,2015-01-08,NaN,NaN,80.87,36.74,96.75,NaN,80.87,38.54,31.89,0.00,0.00,0.00,NaN,NaN,2015,1
8,Ahmedabad,2015-01-09,NaN,NaN,29.16,31.00,48.00,NaN,29.16,58.68,25.75,0.00,0.00,0.00,NaN,NaN,2015,1
9,Ahmedabad,2015-01-10,NaN,NaN,NaN,7.04,0.00,NaN,NaN,8.29,4.55,0.00,0.00,0.00,NaN,NaN,2015,1
10,Ahmedabad,2015-01-11,NaN,NaN,132.07,55.80,24.53,NaN,132.07,25.03,6.79,0.00,0.00,0.00,NaN,NaN,2015,1
11,Ahmedabad,2015-01-12,NaN,NaN,52.04,40.67,90.24,NaN,52.04,51.84,45.89,2.41,0.03,7.88,NaN,NaN,2015,1
12,Ahmedabad,2015-01-13,NaN,NaN,48.82,44.20,87.09,NaN,48.82,68.21,35.16,9.45,13.35,12.50,NaN,NaN,2015,1
13,Ahmedabad,2015-01-14,NaN,NaN,19.20,27.86,33.05,NaN,19.20,52.65,20.96,2.16,2.26,5.19,NaN,NaN,2015,1
14,Ahmedabad,2015-01-15,NaN,NaN,0.60,16.96,16.60,NaN,0.60,28.89,47.63,0.14,0.04,1.35,NaN,NaN,2015,1
15,Ahmedabad,2015-01-16,NaN,NaN,1.63,21.72,22.86,NaN,1.63,38.27,46.03,0.35,0.05,2.01,NaN,NaN,2015,1
16,Ahmedabad,2015-01-17,NaN,NaN,11.44,24.73,34.75,NaN,11.44,49.50,52.24,0.68,0.00,3.27,NaN,NaN,2015,1
17,Ahmedabad,2015-01-18,NaN,NaN,6.10,25.77,29.57,NaN,6.10,48.43,53.49,0.74,0.21,2.75,NaN,NaN,2015,1
18,Ahmedabad,2015-01-19,NaN,NaN,2.51,26.88,27.45,NaN,2.51,50.03,49.48,0.26,0.02,2.80,NaN,NaN,2015,1
19,Ahmedabad,2015-01-20,NaN,NaN,7.92,26.80,32.40,NaN,7.92,58.87,56.37,0.24,0.01,3.97,NaN,NaN,2015,1
20,Ahmedabad,2015-01-21,NaN,NaN,9.52,33.56,39.28,NaN,9.52,106.93,48.75,0.33,0.00,5.65,NaN,NaN,2015,1
21,Ahmedabad,2015-01-22,NaN,NaN,9.05,17.51,22.33,NaN,9.05,23.71,42.22,0.00,0.00,4.51,NaN,NaN,2015,1
22,Ahmedabad,2015-01-23,NaN,NaN,22.53,27.96,47.79,NaN,22.53,39.19,32.92,0.39,0.00,5.95,NaN,NaN,2015,1
23,Ahmedabad,2015-01-24,NaN,NaN,2.03,20.39,21.40,NaN,2.03,40.07,32.49,0.47,0.70,1.54,NaN,NaN,2015,1
24,Ahmedabad,2015-01-25,NaN,NaN,1.42,20.43,20.19,NaN,1.42,58.41,39.26,0.01,0.00,0.94,NaN,NaN,2015,1
25,Ahmedabad,2015-01-26,NaN,NaN,2.27,21.16,21.81,NaN,2.27,43.73,39.83,0.06,0.00,1.55,NaN,NaN,2015,1
26,Ahmedabad,2015-01-27,NaN,NaN,2.19,21.70,23.26,NaN,2.19,43.28,41.10,0.02,0.00,1.65,NaN,NaN,2015,1
27,Ahmedabad,2015-01-28,73.24,NaN,5.72,21.11,25.84,NaN,5.72,36.52,62.42,0.03,0.01,1.41,NaN,NaN,2015,1
28,Ahmedabad,2015-01-29,83.13,NaN,6.93,28.71,33.72,NaN,6.93,49.52,59.76,0.02,0.00,3.14,209.0,Poor,2015,1
29,Ahmedabad,2015-01-30,79.84,NaN,13.85,28.68,41.08,NaN,13.85,48.49,97.07,0.04,0.00,4.81,328.0,Very Poor,2015,1

In [31]:
# Step 4: Define the numerical columns (pollutants + AQI, including NH3)
numeric_cols = ["PM2.5", "PM10","NO","NO2","NOx","NH3","CO", "SO2","O3","Benzene","Toluene","Xylene","AQI"]

In [32]:
# Step 5: Convert these columns to numeric values
df[numeric_cols] = df[numeric_cols].apply(pd.to_numeric, errors="coerce")

In [33]:
# Step 6: Fill missing values with city-wise monthly average
df[numeric_cols] = df.groupby(["City", "Year"])[numeric_cols].transform(lambda x: x.fillna(x.mean()))

In [34]:
df.head(30)

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket,Year,Month
0,Ahmedabad,2015-01-01,79.262545,NaN,0.92000,18.22,17.15,NaN,0.92000,27.64,133.36,0.00,0.02,0.00,310.95057,NaN,2015,1
1,Ahmedabad,2015-01-02,79.262545,NaN,0.97000,15.69,16.46,NaN,0.97000,24.55,34.06,3.68,5.50,3.77,310.95057,NaN,2015,1
2,Ahmedabad,2015-01-03,79.262545,NaN,17.40000,19.30,29.70,NaN,17.40000,29.07,30.70,6.80,16.40,2.25,310.95057,NaN,2015,1
3,Ahmedabad,2015-01-04,79.262545,NaN,1.70000,18.48,17.97,NaN,1.70000,18.59,36.08,4.43,10.14,1.00,310.95057,NaN,2015,1
4,Ahmedabad,2015-01-05,79.262545,NaN,22.10000,21.42,37.76,NaN,22.10000,39.33,39.31,7.01,18.89,2.78,310.95057,NaN,2015,1
5,Ahmedabad,2015-01-06,79.262545,NaN,45.41000,38.48,81.50,NaN,45.41000,45.76,46.51,5.42,10.83,1.93,310.95057,NaN,2015,1
6,Ahmedabad,2015-01-07,79.262545,NaN,112.16000,40.62,130.77,NaN,112.16000,32.28,33.47,0.00,0.00,0.00,310.95057,NaN,2015,1
7,Ahmedabad,2015-01-08,79.262545,NaN,80.87000,36.74,96.75,NaN,80.87000,38.54,31.89,0.00,0.00,0.00,310.95057,NaN,2015,1
8,Ahmedabad,2015-01-09,79.262545,NaN,29.16000,31.00,48.00,NaN,29.16000,58.68,25.75,0.00,0.00,0.00,310.95057,NaN,2015,1
9,Ahmedabad,2015-01-10,79.262545,NaN,13.58977,7.04,0.00,NaN,13.58977,8.29,4.55,0.00,0.00,0.00,310.95057,NaN,2015,1
10,Ahmedabad,2015-01-11,79.262545,NaN,132.07000,55.80,24.53,NaN,132.07000,25.03,6.79,0.00,0.00,0.00,310.95057,NaN,2015,1
11,Ahmedabad,2015-01-12,79.262545,NaN,52.04000,40.67,90.24,NaN,52.04000,51.84,45.89,2.41,0.03,7.88,310.95057,NaN,2015,1
12,Ahmedabad,2015-01-13,79.262545,NaN,48.82000,44.20,87.09,NaN,48.82000,68.21,35.16,9.45,13.35,12.50,310.95057,NaN,2015,1
13,Ahmedabad,2015-01-14,79.262545,NaN,19.20000,27.86,33.05,NaN,19.20000,52.65,20.96,2.16,2.26,5.19,310.95057,NaN,2015,1
14,Ahmedabad,2015-01-15,79.262545,NaN,0.60000,16.96,16.60,NaN,0.60000,28.89,47.63,0.14,0.04,1.35,310.95057,NaN,2015,1
15,Ahmedabad,2015-01-16,79.262545,NaN,1.63000,21.72,22.86,NaN,1.63000,38.27,46.03,0.35,0.05,2.01,310.95057,NaN,2015,1
16,Ahmedabad,2015-01-17,79.262545,NaN,11.44000,24.73,34.75,NaN,11.44000,49.50,52.24,0.68,0.00,3.27,310.95057,NaN,2015,1
17,Ahmedabad,2015-01-18,79.262545,NaN,6.10000,25.77,29.57,NaN,6.10000,48.43,53.49,0.74,0.21,2.75,310.95057,NaN,2015,1
18,Ahmedabad,2015-01-19,79.262545,NaN,2.51000,26.88,27.45,NaN,2.51000,50.03,49.48,0.26,0.02,2.80,310.95057,NaN,2015,1
19,Ahmedabad,2015-01-20,79.262545,NaN,7.92000,26.80,32.40,NaN,7.92000,58.87,56.37,0.24,0.01,3.97,310.95057,NaN,2015,1
20,Ahmedabad,2015-01-21,79.262545,NaN,9.52000,33.56,39.28,NaN,9.52000,106.93,48.75,0.33,0.00,5.65,310.95057,NaN,2015,1
21,Ahmedabad,2015-01-22,79.262545,NaN,9.05000,17.51,22.33,NaN,9.05000,23.71,42.22,0.00,0.00,4.51,310.95057,NaN,2015,1
22,Ahmedabad,2015-01-23,79.262545,NaN,22.53000,27.96,47.79,NaN,22.53000,39.19,32.92,0.39,0.00,5.95,310.95057,NaN,2015,1
23,Ahmedabad,2015-01-24,79.262545,NaN,2.03000,20.39,21.40,NaN,2.03000,40.07,32.49,0.47,0.70,1.54,310.95057,NaN,2015,1
24,Ahmedabad,2015-01-25,79.262545,NaN,1.42000,20.43,20.19,NaN,1.42000,58.41,39.26,0.01,0.00,0.94,310.95057,NaN,2015,1
25,Ahmedabad,2015-01-26,79.262545,NaN,2.27000,21.16,21.81,NaN,2.27000,43.73,39.83,0.06,0.00,1.55,310.95057,NaN,2015,1
26,Ahmedabad,2015-01-27,79.262545,NaN,2.19000,21.70,23.26,NaN,2.19000,43.28,41.10,0.02,0.00,1.65,310.95057,NaN,2015,1
27,Ahmedabad,2015-01-28,73.240000,NaN,5.72000,21.11,25.84,NaN,5.72000,36.52,62.42,0.03,0.01,1.41,310.95057,NaN,2015,1
28,Ahmedabad,2015-01-29,83.130000,NaN,6.93000,28.71,33.72,NaN,6.93000,49.52,59.76,0.02,0.00,3.14,209.00000,Poor,2015,1
29,Ahmedabad,2015-01-30,79.840000,NaN,13.85000,28.68,41.08,NaN,13.85000,48.49,97.07,0.04,0.00,4.81,328.00000,Very Poor,2015,1

#### since there are no records of PM10 and NH3 for a complete year. so we are filling PM10 by grouping the city taking average of it

In [35]:
df[numeric_cols] = df.groupby(["City"])[numeric_cols].transform(lambda x: x.fillna(x.mean()))

In [36]:
df

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket,Year,Month
0,Ahmedabad,2015-01-01,79.262545,115.946335,0.92,18.22,17.15,NaN,0.92,27.64,133.36,0.000000,0.020000,0.000000,310.95057,NaN,2015,1
1,Ahmedabad,2015-01-02,79.262545,115.946335,0.97,15.69,16.46,NaN,0.97,24.55,34.06,3.680000,5.500000,3.770000,310.95057,NaN,2015,1
2,Ahmedabad,2015-01-03,79.262545,115.946335,17.40,19.30,29.70,NaN,17.40,29.07,30.70,6.800000,16.400000,2.250000,310.95057,NaN,2015,1
3,Ahmedabad,2015-01-04,79.262545,115.946335,1.70,18.48,17.97,NaN,1.70,18.59,36.08,4.430000,10.140000,1.000000,310.95057,NaN,2015,1
4,Ahmedabad,2015-01-05,79.262545,115.946335,22.10,21.42,37.76,NaN,22.10,39.33,39.31,7.010000,18.890000,2.780000,310.95057,NaN,2015,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29526,Visakhapatnam,2020-06-27,15.020000,50.940000,7.68,25.06,19.54,12.47,0.47,8.55,23.30,2.240000,12.070000,0.730000,41.00000,Good,2020,6
29527,Visakhapatnam,2020-06-28,24.380000,74.090000,3.42,26.06,16.53,11.99,0.52,12.72,30.14,0.740000,2.210000,0.380000,70.00000,Satisfactory,2020,6
29528,Visakhapatnam,2020-06-29,22.910000,65.730000,3.45,29.53,18.33,10.71,0.48,8.42,30.96,0.010000,0.010000,0.000000,68.00000,Satisfactory,2020,6
29529,Visakhapatnam,2020-06-30,16.640000,49.970000,4.05,29.26,18.80,10.03,0.52,9.84,28.30,0.000000,0.000000,0.000000,54.00000,Satisfactory,2020,6
29530,Visakhapatnam,2020-07-01,15.000000,66.000000,0.40,26.85,14.05,5.20,0.59,2.10,17.05,3.357556,8.719556,1.759278,50.00000,Good,2020,7

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29531 entries, 0 to 29530
Data columns (total 18 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        29531 non-null  object
 1   Date        29531 non-null  datetime64[ns]
 2   PM2.5       29531 non-null  float64
 3   PM10        27522 non-null  float64
 4   NO          29531 non-null  float64
 5   NO2         29531 non-null  float64
 6   NOx         28362 non-null  float64
 7   NH3         27522 non-null  float64
 8   CO          29531 non-null  float64
 9   SO2         29531 non-null  float64
 10  O3          29369 non-null  float64
 11  Benzene     26799 non-null  float64
 12  Toluene     25521 non-null  float64
 13  Xylene      16484 non-null  float64
 14  AQI         29531 non-null  float64
 15  AQI_Bucket  24850 non-null  object
 16  Year        29531 non-null  int32
 17  Month       29531 non-null  int32
dtypes: datetime64[ns](1), float64(13), int32(2), object(2)
memory usage: 3.8+ MB

In [38]:
# Fill missing values with the column-wise average
df.fillna(df.mean(numeric_only=True), inplace=True)

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29531 entries, 0 to 29530
Data columns (total 18 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        29531 non-null  object
 1   Date        29531 non-null  datetime64[ns]
 2   PM2.5       29531 non-null  float64
 3   PM10        29531 non-null  float64
 4   NO          29531 non-null  float64
 5   NO2         29531 non-null  float64
 6   NOx         29531 non-null  float64
 7   NH3         29531 non-null  float64
 8   CO          29531 non-null  float64
 9   SO2         29531 non-null  float64
 10  O3          29531 non-null  float64
 11  Benzene     29531 non-null  float64
 12  Toluene     29531 non-null  float64
 13  Xylene      29531 non-null  float64
 14  AQI         29531 non-null  float64
 15  AQI_Bucket  24850 non-null  object
 16  Year        29531 non-null  int32
 17  Month       29531 non-null  int32
dtypes: datetime64[ns](1), float64(13), int32(2), object(2)
memory usage: 3.8+ MB

In [40]:
df

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket,Year,Month
0,Ahmedabad,2015-01-01,79.262545,115.946335,0.92,18.22,17.15,25.234707,0.92,27.64,133.36,0.000000,0.020000,0.000000,310.95057,NaN,2015,1
1,Ahmedabad,2015-01-02,79.262545,115.946335,0.97,15.69,16.46,25.234707,0.97,24.55,34.06,3.680000,5.500000,3.770000,310.95057,NaN,2015,1
2,Ahmedabad,2015-01-03,79.262545,115.946335,17.40,19.30,29.70,25.234707,17.40,29.07,30.70,6.800000,16.400000,2.250000,310.95057,NaN,2015,1
3,Ahmedabad,2015-01-04,79.262545,115.946335,1.70,18.48,17.97,25.234707,1.70,18.59,36.08,4.430000,10.140000,1.000000,310.95057,NaN,2015,1
4,Ahmedabad,2015-01-05,79.262545,115.946335,22.10,21.42,37.76,25.234707,22.10,39.33,39.31,7.010000,18.890000,2.780000,310.95057,NaN,2015,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29526,Visakhapatnam,2020-06-27,15.020000,50.940000,7.68,25.06,19.54,12.470000,0.47,8.55,23.30,2.240000,12.070000,0.730000,41.00000,Good,2020,6
29527,Visakhapatnam,2020-06-28,24.380000,74.090000,3.42,26.06,16.53,11.990000,0.52,12.72,30.14,0.740000,2.210000,0.380000,70.00000,Satisfactory,2020,6
29528,Visakhapatnam,2020-06-29,22.910000,65.730000,3.45,29.53,18.33,10.710000,0.48,8.42,30.96,0.010000,0.010000,0.000000,68.00000,Satisfactory,2020,6
29529,Visakhapatnam,2020-06-30,16.640000,49.970000,4.05,29.26,18.80,10.030000,0.52,9.84,28.30,0.000000,0.000000,0.000000,54.00000,Satisfactory,2020,6
29530,Visakhapatnam,2020-07-01,15.000000,66.000000,0.40,26.85,14.05,5.200000,0.59,2.10,17.05,3.357556,8.719556,1.759278,50.00000,Good,2020,7

In [41]:
# Step 7: Apply the AQI classification function
def classify_aqi(aqi):
    if aqi <= 50:
        return "Good"
    elif aqi <= 100:
        return "Moderate"
    elif aqi <= 200:
        return "Unhealthy for Sensitive Groups"
    elif aqi <= 300:
        return "Unhealthy"
    elif aqi <= 400:
        return "Very Unhealthy"
    else:
        return "Hazardous"

In [42]:
df["AQI_Bucket"] = df["AQI"].apply(classify_aqi)

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29531 entries, 0 to 29530
Data columns (total 18 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        29531 non-null  object
 1   Date        29531 non-null  datetime64[ns]
 2   PM2.5       29531 non-null  float64
 3   PM10        29531 non-null  float64
 4   NO          29531 non-null  float64
 5   NO2         29531 non-null  float64
 6   NOx         29531 non-null  float64
 7   NH3         29531 non-null  float64
 8   CO          29531 non-null  float64
 9   SO2         29531 non-null  float64
 10  O3          29531 non-null  float64
 11  Benzene     29531 non-null  float64
 12  Toluene     29531 non-null  float64
 13  Xylene      29531 non-null  float64
 14  AQI         29531 non-null  float64
 15  AQI_Bucket  29531 non-null  object
 16  Year        29531 non-null  int32
 17  Month       29531 non-null  int32
dtypes: datetime64[ns](1), float64(13), int32(2), object(2)
memory usage: 3.8+ MB

In [44]:
df.head(50)

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket,Year,Month
0,Ahmedabad,2015-01-01,79.262545,115.946335,0.92000,18.22,17.15,25.234707,0.92000,27.64,133.36,0.00,0.02,0.00,310.95057,Very Unhealthy,2015,1
1,Ahmedabad,2015-01-02,79.262545,115.946335,0.97000,15.69,16.46,25.234707,0.97000,24.55,34.06,3.68,5.50,3.77,310.95057,Very Unhealthy,2015,1
2,Ahmedabad,2015-01-03,79.262545,115.946335,17.40000,19.30,29.70,25.234707,17.40000,29.07,30.70,6.80,16.40,2.25,310.95057,Very Unhealthy,2015,1
3,Ahmedabad,2015-01-04,79.262545,115.946335,1.70000,18.48,17.97,25.234707,1.70000,18.59,36.08,4.43,10.14,1.00,310.95057,Very Unhealthy,2015,1
4,Ahmedabad,2015-01-05,79.262545,115.946335,22.10000,21.42,37.76,25.234707,22.10000,39.33,39.31,7.01,18.89,2.78,310.95057,Very Unhealthy,2015,1
5,Ahmedabad,2015-01-06,79.262545,115.946335,45.41000,38.48,81.50,25.234707,45.41000,45.76,46.51,5.42,10.83,1.93,310.95057,Very Unhealthy,2015,1
6,Ahmedabad,2015-01-07,79.262545,115.946335,112.16000,40.62,130.77,25.234707,112.16000,32.28,33.47,0.00,0.00,0.00,310.95057,Very Unhealthy,2015,1
7,Ahmedabad,2015-01-08,79.262545,115.946335,80.87000,36.74,96.75,25.234707,80.87000,38.54,31.89,0.00,0.00,0.00,310.95057,Very Unhealthy,2015,1
8,Ahmedabad,2015-01-09,79.262545,115.946335,29.16000,31.00,48.00,25.234707,29.16000,58.68,25.75,0.00,0.00,0.00,310.95057,Very Unhealthy,2015,1
9,Ahmedabad,2015-01-10,79.262545,115.946335,13.58977,7.04,0.00,25.234707,13.58977,8.29,4.55,0.00,0.00,0.00,310.95057,Very Unhealthy,2015,1
10,Ahmedabad,2015-01-11,79.262545,115.946335,132.07000,55.80,24.53,25.234707,132.07000,25.03,6.79,0.00,0.00,0.00,310.95057,Very Unhealthy,2015,1
11,Ahmedabad,2015-01-12,79.262545,115.946335,52.04000,40.67,90.24,25.234707,52.04000,51.84,45.89,2.41,0.03,7.88,310.95057,Very Unhealthy,2015,1
12,Ahmedabad,2015-01-13,79.262545,115.946335,48.82000,44.20,87.09,25.234707,48.82000,68.21,35.16,9.45,13.35,12.50,310.95057,Very Unhealthy,2015,1
13,Ahmedabad,2015-01-14,79.262545,115.946335,19.20000,27.86,33.05,25.234707,19.20000,52.65,20.96,2.16,2.26,5.19,310.95057,Very Unhealthy,2015,1
14,Ahmedabad,2015-01-15,79.262545,115.946335,0.60000,16.96,16.60,25.234707,0.60000,28.89,47.63,0.14,0.04,1.35,310.95057,Very Unhealthy,2015,1
15,Ahmedabad,2015-01-16,79.262545,115.946335,1.63000,21.72,22.86,25.234707,1.63000,38.27,46.03,0.35,0.05,2.01,310.95057,Very Unhealthy,2015,1
16,Ahmedabad,2015-01-17,79.262545,115.946335,11.44000,24.73,34.75,25.234707,11.44000,49.50,52.24,0.68,0.00,3.27,310.95057,Very Unhealthy,2015,1
17,Ahmedabad,2015-01-18,79.262545,115.946335,6.10000,25.77,29.57,25.234707,6.10000,48.43,53.49,0.74,0.21,2.75,310.95057,Very Unhealthy,2015,1
18,Ahmedabad,2015-01-19,79.262545,115.946335,2.51000,26.88,27.45,25.234707,2.51000,50.03,49.48,0.26,0.02,2.80,310.95057,Very Unhealthy,2015,1
19,Ahmedabad,2015-01-20,79.262545,115.946335,7.92000,26.80,32.40,25.234707,7.92000,58.87,56.37,0.24,0.01,3.97,310.95057,Very Unhealthy,2015,1
20,Ahmedabad,2015-01-21,79.262545,115.946335,9.52000,33.56,39.28,25.234707,9.52000,106.93,48.75,0.33,0.00,5.65,310.95057,Very Unhealthy,2015,1
21,Ahmedabad,2015-01-22,79.262545,115.946335,9.05000,17.51,22.33,25.234707,9.05000,23.71,42.22,0.00,0.00,4.51,310.95057,Very Unhealthy,2015,1
22,Ahmedabad,2015-01-23,79.262545,115.946335,22.53000,27.96,47.79,25.234707,22.53000,39.19,32.92,0.39,0.00,5.95,310.95057,Very Unhealthy,2015,1
23,Ahmedabad,2015-01-24,79.262545,115.946335,2.03000,20.39,21.40,25.234707,2.03000,40.07,32.49,0.47,0.70,1.54,310.95057,Very Unhealthy,2015,1
24,Ahmedabad,2015-01-25,79.262545,115.946335,1.42000,20.43,20.19,25.234707,1.42000,58.41,39.26,0.01,0.00,0.94,310.95057,Very Unhealthy,2015,1
25,Ahmedabad,2015-01-26,79.262545,115.946335,2.27000,21.16,21.81,25.234707,2.27000,43.73,39.83,0.06,0.00,1.55,310.95057,Very Unhealthy,2015,1
26,Ahmedabad,2015-01-27,79.262545,115.946335,2.19000,21.70,23.26,25.234707,2.19000,43.28,41.10,0.02,0.00,1.65,310.95057,Very Unhealthy,2015,1
27,Ahmedabad,2015-01-28,73.240000,115.946335,5.72000,21.11,25.84,25.234707,5.72000,36.52,62.42,0.03,0.01,1.41,310.95057,Very Unhealthy,2015,1
28,Ahmedabad,2015-01-29,83.130000,115.946335,6.93000,28.71,33.72,25.234707,6.93000,49.52,59.76,0.02,0.00,3.14,209.00000,Unhealthy,2015,1
29,Ahmedabad,2015-01-30,79.840000,115.946335,13.85000,28.68,41.08,25.234707,13.85000,48.49,97.07,0.04,0.00,4.81,328.00000,Very Unhealthy,2015,1
30,Ahmedabad,2015-01-31,94.520000,115.946335,24.39000,32.66,52.61,25.234707,24.39000,67.39,111.33,0.24,0.01,7.67,514.00000,Hazardous,2015,1
31,Ahmedabad,2015-02-01,135.990000,115.946335,43.48000,42.08,84.57,25.234707,43.48000,75.23,102.70,0.40,0.04,25.87,782.00000,Hazardous,2015,2
32,Ahmedabad,2015-02-02,178.330000,115.946335,54.56000,35.31,72.80,25.234707,54.56000,55.04,107.38,0.46,0.06,35.61,914.00000,Hazardous,2015,2
33,Ahmedabad,2015-02-03,139.700000,115.946335,30.61000,28.40,56.73,25.234707,30.61000,33.79,73.60,0.17,0.03,11.87,660.00000,Hazardous,2015,2
34,Ahmedabad,2015-02-04,80.650000,115.946335,2.37000,22.83,24.00,25.234707,2.37000,25.73,47.30,0.00,0.00,0.00,294.00000,Unhealthy,2015,2
35,Ahmedabad,2015-02-05,58.360000,115.946335,2.60000,21.39,23.31,25.234707,2.60000,32.66,53.54,0.00,0.00,0.00,149.00000,Unhealthy for Sensitive Groups,2015,2
36,Ahmedabad,2015-02-06,79.290000,115.946335,1.16000,26.94,26.83,25.234707,1.16000,67.41,59.30,0.00,0.00,0.00,190.00000,Unhealthy for Sensitive Groups,2015,2
37,Ahmedabad,2015-02-07,88.700000,115.946335,7.29000,31.32,37.73,25.234707,7.29000,80.09,44.76,0.00,0.00,0.00,247.00000,Unhealthy,2015,2
38,Ahmedabad,2015-02-08,74.280000,115.946335,8.92000,27.30,33.42,25.234707,8.92000,54.28,47.42,0.00,0.00,0.27,379.00000,Very Unhealthy,2015,2
39,Ahmedabad,2015-02-09,113.930000,115.946335,4.32000,24.27,26.86,25.234707,4.32000,48.73,39.94,0.02,0.00,3.55,341.00000,Very Unhealthy,2015,2
40,Ahmedabad,2015-02-10,105.390000,115.946335,1.41000,18.21,18.75,25.234707,1.41000,35.91,56.15,0.00,0.00,3.31,256.00000,Unhealthy,2015,2
41,Ahmedabad,2015-02-11,66.520000,115.946335,6.34000,23.80,28.24,25.234707,6.34000,66.58,53.14,9.70,9.63,16.49,388.00000,Very Unhealthy,2015,2
42,Ahmedabad,2015-02-12,65.040000,115.946335,14.19000,30.10,44.21,25.234707,14.19000,65.91,31.88,7.72,17.46,2.51,288.00000,Unhealthy,2015,2
43,Ahmedabad,2015-02-13,103.360000,115.946335,18.18000,39.56,57.33,25.234707,18.18000,80.43,40.11,11.29,24.35,3.35,510.00000,Hazardous,2015,2
44,Ahmedabad,2015-02-14,177.330000,115.946335,37.49000,47.58,77.85,25.234707,37.49000,99.72,36.47,17.00,52.66,6.98,761.00000,Hazardous,2015,2
45,Ahmedabad,2015-02-15,113.250000,115.946335,15.55000,30.50,44.87,25.234707,15.55000,69.71,33.78,10.47,28.53,3.22,475.00000,Hazardous,2015,2
46,Ahmedabad,2015-02-16,99.700000,115.946335,19.85000,28.10,47.31,25.234707,19.85000,73.23,30.57,10.28,31.25,4.00,536.00000,Hazardous,2015,2
47,Ahmedabad,2015-02-17,80.610000,115.946335,15.96000,21.04,35.67,25.234707,15.96000,54.70,36.20,8.14,18.75,2.52,479.00000,Hazardous,2015,2
48,Ahmedabad,2015-02-18,100.790000,115.946335,16.24000,25.93,41.91,25.234707,16.24000,43.11,37.43,10.00,32.41,4.04,592.00000,Hazardous,2015,2
49,Ahmedabad,2015-02-19,107.990000,115.946335,11.25000,30.09,40.47,25.234707,11.25000,84.86,31.94,9.20,24.03,3.25,427.00000,Hazardous,2015,2

In [46]:
# Step 8: Save the cleaned dataset with daily records
df.to_csv(r"C:\Users\Dhruv Bansal\OneDrive\Documents\jupyter Notebook\New folder\city_day_cleaned.csv", index=False)